src/main/resources/requests/sdlt/SDLT.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://sdlt.co.uk/SDLT" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sdlt="http://sdlt.co.uk/">
    <xs:import namespace="http://sdlt.co.uk/" schemaLocation="https://online.sdlt.co.uk/schema/v1-0/DocumentType.xsd"/>
    <xs:element name="SDLT">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element type="sdlt:StringType" name="F_ID"/>
                <xs:element type="sdlt:DateTimeType" name="F_DateCreated"/>
                <xs:element type="sdlt:StringType" name="F_UserNotes"/>
                <xs:element type="sdlt:BooleanType" name="F_FTBExemptionYesNo"/>
                <xs:element type="sdlt:BooleanType" name="F_ClosedOffYesNo"/>
                <xs:element type="sdlt:BooleanType" name="F_StampDutyPaidYesNo"/>
                <xs:element type="sdlt:StringType" name="F_ChequeNumber"/>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>These fields are used only for SDLT export</xs:documentation>
                    </xs:annotation>
                    <xs:element type="sdlt:StringType" name="SDLT_UTRN"/>
                    <xs:element type="sdlt:StringType" name="SDLT_IRMark"/>
                    <xs:element type="sdlt:StringType" name="F_SubmissionStatus"/>
                    <xs:element type="sdlt:StringType" name="F_SubmissionInfo"/>
                    <xs:element type="sdlt:DateTimeType" name="F_SubmissionDate"/>
                    <xs:element type="sdlt:DateTimeType" name="F_ReturnDate"/>
                    <xs:element type="sdlt:StringType" name="F_SDLTID"/>
                </xs:choice>
                <xs:element type="sdlt:StringType" name="SDLT_PropertyTypeCode"/>
                <xs:element type="sdlt:StringType" name="SDLT_TransactionDescriptionCode"/>
                <xs:element type="sdlt:StringType" name="SDLT_InterestCreatedCode"/>
                <xs:element type="sdlt:StringType" name="SDLT_InterestCreatedCodeDetailed"/>
                <xs:element type="sdlt:StringType" name="SDLT_DateOfTransaction"/>
                <xs:element type="sdlt:BooleanType" name="SDLT_AnyRestrictionsYesNo"/>
                <xs:element type="sdlt:StringType" name="SDLT_IfYesRestrictionDetails"/>
                <xs:element type="sdlt:StringType" name="SDLT_DateOfContract"/>
                <xs:element type="sdlt:BooleanType" name="SDLT_AnyLandExchangedYesNo"/>
                <xs:element type="sdlt:StringType" name="SDLT_IfYesExchangedPostcode"/>
                <xs:element type="sdlt:StringType" name="SDLT_IfYesExchangedBuildingNo"/>
                <xs:element type="sdlt:StringType" name="SDLT_IfYesExchangedAddress1"/>
                <xs:element type="sdlt:StringType" name="SDLT_IfYesExchangedAddress2"/>
                <xs:element type="sdlt:StringType" name="SDLT_IfYesExchangedAddress3"/>
                <xs:element type="sdlt:StringType" name="SDLT_IfYesExchangedAddress4"/>
                <xs:element type="sdlt:BooleanType" name="SDLT_PursantToPreviousAgreementYesNo"/>
                <xs:element type="sdlt:BooleanType" name="SDLT_ClaimingTaxReliefYesNo"/>
                <xs:element type="sdlt:StringType" name="SDLT_IfYesTaxReliefReasonCode"/>
                <xs:element type="sdlt:StringType" name="SDLT_IfYesTaxReliefCharityNo"/>
                <xs:element type="sdlt:StringType" name="SDLT_IfYesTaxReliefAmount"/>
                <xs:element type="sdlt:StringType" name="SDLT_TotalConsiderationIncVAT"/>
                <xs:element type="sdlt:StringType" name="SDLT_PurchaserTypeCode"/>
                <xs:element type="sdlt:StringType" name="SDLT_TotalConsiderationVAT"/>
                <xs:element type="sdlt:StringType" name="SDLT_ConsiderationFormCode1"/>
                <xs:element type="sdlt:StringType" name="SDLT_ConsiderationFormCode2"/>
                <xs:element type="sdlt:StringType" name="SDLT_ConsiderationFormCode3"/>
                <xs:element type="sdlt:StringType" name="SDLT_ConsiderationFormCode4"/>
                <xs:element type="sdlt:BooleanType" name="SDLT_TransactionLinkedYesNo"/>
                <xs:element type="sdlt:StringType" name="SDLT_IfYesTotalLinkedConsiderationIncVAT"/>
                <xs:element type="sdlt:StringType" name="SDLT_TotalTaxDue"/>
                <xs:element type="sdlt:StringType" name="SDLT_TotalTaxPaid"/>
                <xs:element type="sdlt:BooleanType" name="SDLT_TotalTaxPaidIncPenaltyYesNo"/>
                <xs:element type="sdlt:StringType" name="SDLT_LeaseTypeCode"/>
                <xs:element type="sdlt:StringType" name="SDLT_LeaseStartDate"/>
                <xs:element type="sdlt:StringType" name="SDLT_LeaseEndDate"/>
                <xs:element type="sdlt:StringType" name="SDLT_RentFreePeriod"/>
                <xs:element type="sdlt:StringType" name="SDLT_TotalAnnualRentIncVAT"/>
                <xs:element type="sdlt:StringType" name="SDLT_EndDateForStartingRent"/>
                <xs:element type="sdlt:BooleanType" name="SDLT_LaterRentKnownYesNo"/>
                <xs:element type="sdlt:StringType" name="SDLT_LeaseAmountVAT"/>
                <xs:element type="sdlt:StringType" name="SDLT_TotalLeasePremiumPayable"/>
                <xs:element type="sdlt:StringType" name="SDLT_NetPresentValue"/>
                <xs:element type="sdlt:StringType" name="SDLT_TotalLeasePremiumTaxPayable"/>
                <xs:element type="sdlt:StringType" name="SDLT_TotalLeaseNPVTaxPayable"/>
                <xs:element type="sdlt:StringType" name="SDLT_NumberOfPropertiesIncluded"/>
                <xs:element type="sdlt:StringType" name="SDLT_PropertyAddressPostcode"/>
                <xs:element type="sdlt:StringType" name="SDLT_PropertyAddressBuildingNo"/>
                <xs:element type="sdlt:StringType" name="SDLT_PropertyAddress1"/>
                <xs:element type="sdlt:StringType" name="SDLT_PropertyAddress2"/>
                <xs:element type="sdlt:StringType" name="SDLT_PropertyAddress3"/>
                <xs:element type="sdlt:StringType" name="SDLT_PropertyAddress4"/>
                <xs:element type="sdlt:StringType" name="SDLT_PropertyLocalAuthorityCode"/>
                <xs:element type="sdlt:StringType" name="SDLT_PropertyTitleNumber"/>
                <xs:element type="sdlt:StringType" name="SDLT_PropertyNLPGUPRN"/>
                <xs:element type="sdlt:StringType" name="SDLT_PropertyUnitsHectareMetres"/>
                <xs:element type="sdlt:StringType" name="SDLT_PropertyAreaSize"/>
                <xs:element type="sdlt:BooleanType" name="SDLT_PropertyPlanAttachedYesNo"/>
                <xs:element type="sdlt:StringType" name="SDLT_TotalNumberOfVendors"/>
                <xs:element type="sdlt:StringType" name="SDLT_Vendor1Title"/>
                <xs:element type="sdlt:StringType" name="SDLT_Vendor1Surname"/>
                <xs:element type="sdlt:StringType" name="SDLT_Vendor1FirstName1"/>
                <xs:element type="sdlt:StringType" name="SDLT_Vendor1FirstName2"/>
                <xs:element type="sdlt:StringType" name="SDLT_Vendor1AddressPostcode"/>
                <xs:element type="sdlt:StringType" name="SDLT_Vendor1AddressBuildingNo"/>
                <xs:element type="sdlt:StringType" name="SDLT_Vendor1Address1"/>
                <xs:element type="sdlt:StringType" name="SDLT_Vendor1Address2"/>
                <xs:element type="sdlt:StringType" name="SDLT_Vendor1Address3"/>
                <xs:element type="sdlt:StringType" name="SDLT_Vendor1Address4"/>
                <xs:element type="sdlt:StringType" name="SDLT_VendorsAgentFirmName"/>
                <xs:element type="sdlt:StringType" name="SDLT_VendorsAgentAddressPostcode"/>
                <xs:element type="sdlt:StringType" name="SDLT_VendorsAgentAddressBuildingNo"/>
                <xs:element type="sdlt:StringType" name="SDLT_VendorsAgentAddress1"/>
                <xs:element type="sdlt:StringType" name="SDLT_VendorsAgentAddress2"/>
                <xs:element type="sdlt:StringType" name="SDLT_VendorsAgentAddress3"/>
                <xs:element type="sdlt:StringType" name="SDLT_VendorsAgentAddress4"/>
                <xs:element type="sdlt:StringType" name="SDLT_VendorsAgentDXAddress"/>
                <xs:element type="sdlt:StringType" name="SDLT_VendorsAgentEmail"/>
                <xs:element type="sdlt:StringType" name="SDLT_VendorsAgentReference"/>
                <xs:element type="sdlt:StringType" name="SDLT_VendorsAgentTelNo"/>
                <xs:element type="sdlt:StringType" name="SDLT_Vendor2Title"/>
                <xs:element type="sdlt:StringType" name="SDLT_Vendor2Surname"/>
                <xs:element type="sdlt:StringType" name="SDLT_Vendor2FirstName1"/>
                <xs:element type="sdlt:StringType" name="SDLT_Vendor2FirstName2"/>
                <xs:element type="sdlt:BooleanType" name="SDLT_Vender2AddressSameYesNo"/>
                <xs:element type="sdlt:StringType" name="SDLT_Vendor2AddressPostcode"/>
                <xs:element type="sdlt:StringType" name="SDLT_Vendor2AddressBuildingNo"/>
                <xs:element type="sdlt:StringType" name="SDLT_Vendor2Address1"/>
                <xs:element type="sdlt:StringType" name="SDLT_Vendor2Address2"/>
                <xs:element type="sdlt:StringType" name="SDLT_Vendor2Address3"/>
                <xs:element type="sdlt:StringType" name="SDLT_Vendor2Address4"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser1NINumber"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser1DateOfBirth"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser1VATRegNo"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser1TaxRef"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser1CompanyNumber"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser1PlaceOfIssue"/>
                <xs:element type="sdlt:StringType" name="SDLT_TotalNumberOfPurchasers"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser1Title"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser1Surname"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser1FirstName1"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser1FirstName2"/>
                <xs:element type="sdlt:BooleanType" name="SDLT_Purchaser1AddressSameQ28YesNo"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser1AddressPostcode"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser1AddressBuildingNo"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser1Address1"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser1Address2"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser1Address3"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser1Address4"/>
                <xs:element type="sdlt:BooleanType" name="SDLT_Purchaser1ActingAsTrusteeYesNo"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser1TelNo"/>
                <xs:element type="sdlt:BooleanType" name="SDLT_PurchaserVendorConnectedYesNo"/>
                <xs:element type="sdlt:BooleanType" name="SDLT_Purchaser1CorrespondenceToYesNo"/>
                <xs:element type="sdlt:StringType" name="SDLT_PurchaserAgentFirmName"/>
                <xs:element type="sdlt:StringType" name="SDLT_PurchaserAgentAddressPostcode"/>
                <xs:element type="sdlt:StringType" name="SDLT_PurchaserAgentAddressBuildingNo"/>
                <xs:element type="sdlt:StringType" name="SDLT_PurchaserAgentAddress1"/>
                <xs:element type="sdlt:StringType" name="SDLT_PurchaserAgentAddress2"/>
                <xs:element type="sdlt:StringType" name="SDLT_PurchaserAgentAddress3"/>
                <xs:element type="sdlt:StringType" name="SDLT_PurchaserAgentAddress4"/>
                <xs:element type="sdlt:StringType" name="SDLT_PurchaserAgentDXAddress"/>
                <xs:element type="sdlt:StringType" name="SDLT_PurchaserAgentReference"/>
                <xs:element type="sdlt:StringType" name="SDLT_PurchaserAgentTelNo"/>
                <xs:element type="sdlt:StringType" name="SDLT_PurchaserAgentEmail"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser2Title"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser2Surname"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser2FirstName1"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser2FirstName2"/>
                <xs:element type="sdlt:BooleanType" name="SDLT_Purchaser2AddressSameYesNo"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser2AddressPostcode"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser2AddressBuildingNo"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser2Address1"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser2Address2"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser2Address3"/>
                <xs:element type="sdlt:StringType" name="SDLT_Purchaser2Address4"/>
                <xs:element type="sdlt:BooleanType" name="SDLT_Purchaser2ActingAsTrusteeYesNo"/>
                <xs:element type="sdlt:StringType" name="SDLT_NumberOfSDLT2s"/>
                <xs:element type="sdlt:StringType" name="SDLT_NumberOfSDLT3s"/>
                <xs:element type="sdlt:StringType" name="SDLT_NumberOfSDLT4s"/>
                <xs:element name="SDLT2">
                    <xs:complexType>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element type="sdlt:StringType" name="SDLT2_AdditionalVendorOrPuchaser"/>
                            <xs:element type="sdlt:StringType" name="SDLT2_AdditionalVendorPurchaserTitle"/>
                            <xs:element type="sdlt:StringType" name="SDLT2_AdditionalVendorPurchaserSurname"/>
                            <xs:element type="sdlt:StringType" name="SDLT2_AdditionalVendorPurchaserFirstName1"/>
                            <xs:element type="sdlt:StringType" name="SDLT2_AdditionalVendorPurchaserFirstName2"/>
                            <xs:element type="sdlt:StringType" name="SDLT2_AdditionalVendorPurchaserAddressPostcode"/>
                            <xs:element type="sdlt:StringType" name="SDLT2_AdditionalVendorPurchaserAddressBuildingNo"/>
                            <xs:element type="sdlt:StringType" name="SDLT2_AdditionalVendorPurchaserAddress1"/>
                            <xs:element type="sdlt:StringType" name="SDLT2_AdditionalVendorPurchaserAddress2"/>
                            <xs:element type="sdlt:StringType" name="SDLT2_AdditionalVendorPurchaserAddress3"/>
                            <xs:element type="sdlt:StringType" name="SDLT2_AdditionalVendorPurchaserAddress4"/>
                            <xs:element type="sdlt:BooleanType" name="SDLT2_PurchaserVendorConnectedYesNo"/>
                            <xs:element type="sdlt:BooleanType" name="SDLT2_AdditionalPurchaserActingAsTrusteeYesNo"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="SDLT3">
                    <xs:complexType>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element type="sdlt:StringType" name="SDLT3_PropertyTypeCode"/>
                            <xs:element type="sdlt:StringType" name="SDLT3_PropertyLocalAuthorityCode"/>
                            <xs:element type="sdlt:StringType" name="SDLT3_PropertyTitleNumber"/>
                            <xs:element type="sdlt:StringType" name="SDLT3_PropertyNLPGUPRN"/>
                            <xs:element type="sdlt:StringType" name="SDLT3_PropertyAddressBuildingNo"/>
                            <xs:element type="sdlt:StringType" name="SDLT3_PropertyAddressPostcode"/>
                            <xs:element type="sdlt:StringType" name="SDLT3_PropertyAddress1"/>
                            <xs:element type="sdlt:StringType" name="SDLT3_PropertyAddress2"/>
                            <xs:element type="sdlt:StringType" name="SDLT3_PropertyAddress3"/>
                            <xs:element type="sdlt:StringType" name="SDLT3_PropertyAddress4"/>
                            <xs:element type="sdlt:StringType" name="SDLT3_PropertyUnitsHectareMetres"/>
                            <xs:element type="sdlt:StringType" name="SDLT3_PropertyAreaSize"/>
                            <xs:element type="sdlt:StringType" name="SDLT3_PropertyMineratlRightsCode"/>
                            <xs:element type="sdlt:BooleanType" name="SDLT3_PropertyPlanAttachedYesNo"/>
                            <xs:element type="sdlt:StringType" name="SDLT3_InterestCreatedCode"/>
                            <xs:element type="sdlt:StringType" name="SDLT3_InterestCreatedCodeDetailed"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="SDLT4">
                    <xs:complexType>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element type="sdlt:BooleanType" name="SDLT4_ConsiderationStockYesNo"/>
                            <xs:element type="sdlt:BooleanType" name="SDLT4_ConsiderationGoodWillYesNo"/>
                            <xs:element type="sdlt:BooleanType" name="SDLT4_ConsiderationOtherYesNo"/>
                            <xs:element type="sdlt:BooleanType" name="SDLT4_ConsiderationChattelsYesNo"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_TotalConsiderationAmount"/>
                            <xs:element type="sdlt:BooleanType" name="SDLT4_PropertyUseOffice"/>
                            <xs:element type="sdlt:BooleanType" name="SDLT4_PropertyUseHotel"/>
                            <xs:element type="sdlt:BooleanType" name="SDLT4_PropertyUseShop"/>
                            <xs:element type="sdlt:BooleanType" name="SDLT4_PropertyUseWarehouse"/>
                            <xs:element type="sdlt:BooleanType" name="SDLT4_PropertyUseFactory"/>
                            <xs:element type="sdlt:BooleanType" name="SDLT4_PropertyUseOther"/>
                            <xs:element type="sdlt:BooleanType" name="SDLT4_PropertyUseOtherInd"/>
                            <xs:element type="sdlt:BooleanType" name="SDLT4_PostTransactionRulingYesNo"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_IfYesHasRullingBeenFollowed"/>
                            <xs:element type="sdlt:BooleanType" name="SDLT4_ConsiderationDependentOnFutureEventsYesNo"/>
                            <xs:element type="sdlt:BooleanType" name="SDLT4_DeferredPaymentAgreedYesNo"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_PropertyMineratlRightsCode"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_Purchaser1DescriptionCode"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_Purchaser2DescriptionCode"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_Purchaser3DescriptionCode"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_Purchaser4DescriptionCode"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_PropertyTypeCode"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_PropertySameAddressAsSDLT1"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_PropertyAddressPostcode"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_PropertyAddressBuildingNo"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_PropertyAddress1"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_PropertyAddress2"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_PropertyAddress3"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_PropertyAddress4"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_PropertyLocalAuthorityCode"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_PropertyTitleNumber"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_PropertyNLPGUPRN"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_PropertyUnitsHectareMetres"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_PropertyAreaSize"/>
                            <xs:element type="sdlt:BooleanType" name="SDLT4_PropertyPlanAttachedYesNo"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_InterestCreatedCode"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_InterestCreatedCodeDetailed"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_LeaseTypeCode"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_LeaseStartDate"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_LeaseEndDate"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_RentFreePeriod"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_TotalLeasePremiumPayable"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_EndDateForStartingRent"/>
                            <xs:element type="sdlt:BooleanType" name="SDLT4_LaterRentKnownYesNo"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_LeaseAmountVAT"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_TotalLeasePremiumPaid"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_NetPresentValue"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_TotalLeasePremiumTaxPayable"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_TotalLeaseNPVTaxPayable"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_AnyTermsSurrendered"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_BreakClauseTypeCode"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_BreakClauseDate"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_ConditionsOptionToRenew"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_ConditionsUnascertainableRent"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_ConditionsMarketRent"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_ConditionsContingentReservedRent"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_ConditionsTurnoverRent"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_PropertyRentReviewFrequency"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_FirstReviewDate"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_ReviewClauseType"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_DateOfRentChange"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_PropertyServiceChargeAmount"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_PropertyServiceChargeFrequency"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_ConsiderationTenant2LandlordCode1"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_ConsiderationTenant2LandlordCode2"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_ConsiderationTenant2LandlordCode3"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_ConsiderationTenant2LandlordCode4"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_ConsiderationLandlord2TenantCode1"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_ConsiderationLandlord2TenantCode2"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_ConsiderationLandlord2TenantCode3"/>
                            <xs:element type="sdlt:StringType" name="SDLT4_ConsiderationLandlord2TenantCode4"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:attribute name="sdlt" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>